@model CreateShopListVM
<form method="post">
    <h5 class="mb-3">Alışveriş Listesi Oluştur</h5>
    <div class="form-group" style="display: flex; flex-direction: column;">
        <input type="text" class="form-control mb-2" placeholder="Liste Adı" asp-for="ShopListName" />
        <span style="font-size: 80%;" class="text-danger mb-2" asp-validation-for="ShopListName"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Oluştur"/>
</form>